.navbar{
    background-color: #58D68D !important;
}

.nav-link{
    color: black !important;
    font-weight: bold !important;
}


.user,.shop{
    margin-left: 30px;
}

.about{
    margin-top: 30px;
   
    text-align: center;
}

.para{
    text-align: justify;
    line-height: 30px;
}

.para-1{
    font-weight: bold;
}
